{% extends "newLayout.html.twig" %}

{% block head %} {{ parent() }} {% endblock %}

{% block bootstrap %} {{ parent() }}  {% endblock %}

{% block fontawesome %} {{ parent() }}  {% endblock %}

{% block css %} {{ parent() }}  {% endblock %}


{% block title %}Home page{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }} 
    {% endblock %}


    <main>
    
        <h1>Bienvenu sur la page d'accueil</h1>
        <p> Vous pouvez créer une game sur cette page et générer une invitation</p>
    
    </main>

    {% block modalConnection %}
        {{ parent() }} 
    {% endblock %}

{% endblock %}
