{% extends "layout.html.twig" %}

{% block head %}
{{ parent() }} 
{% endblock %}

{% block bootstrap %}
{{ parent() }} 
{% endblock %}

{% block fontawesome %}
{{ parent() }} 
{% endblock %}

{% block css %}
    {{ parent() }} 
    <link rel="stylesheet" type="text/css" href="assets/style/user.css">
{% endblock %}


{% block title %}{{ parent() }} - hehe {% endblock %}

{% block body %}
    {% block main %}
        {{ parent() }} 
    {% endblock %}
    <main>
        <h1>Users</h1>

        <div class="filter">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="username" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                        class="fas fa-search"></i></button>
            </div>

            <select class="form-select" aria-label="Default select example">
                <option selected value="ROLES_ADMIN">asc</option>
                <option value="ROLES_USER">desc</option>
            </select>
        </div>



        <button type="button" class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#modalSubscribe">Ajouter un nouvel utilisateur</button>
        <table class="table" >
            <thead>
                <tr >
                    <th scope="col">#ID</th>
                    <th scope="col">userName</th>
                    <th scope="col">firstName</th>
                    <th scope="col">lastName</th>
                    <th scope="col">email</th>
                    <th scope="col">Roles</th>
                </tr>
            </thead>
            
            <tbody>
                    {% for user in users %}
                        <tr class="dataUser" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="setInfoUser(this)">
                            <th scope="row">{{user.id_user}} </th>
                            <td name="username">{{user.username}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.mail}}</td>
                            <td>{{user.roles}}</td>
                         </tr>
                    {% endfor %}
            </tbody>
        </table>
        

    </main>

    <!-- Modal update / delete --> 
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="usernameTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formTest" method="post" action="users">

                    <div class="modal-body">
                    <input name="id_user"  id="id_user" type="hidden">
                    {# <input name="username" id="username" type="hidden"> #}

                    <label for="firstName" class="form-label" >first name</label>
                    <input id="firstName" class="form-control" name="firstName" type="text">
                    <div class="form-text">{{firstName}}</div>

                    <label for="lastName" class="form-label">last name</label>
                    <input id="lastName" class="form-control" name="lastName" type="text">
                    <div class="form-text">{{lastName}}</div>

                    <label for="mail" class="form-label">email</label>
                    <input id="mail" class="form-control" name="mail" type="text">
                    <div class="form-text">{{mail}}</div>

                    <label for="inputPassword5" class="form-label">Roles</label>
                    <select id="roles" class="form-select" aria-label="Default select example" name="roles">
                        <option id="role1"  selected value="ROLES_ADMIN">ROLES_ADMIN</option>
                        <option id="role2" value="ROLES_USER">ROLES_USER</option>
                    </select>
                    <div class="form-text">{{roles}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="update">Save changes</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" name="delete">Delete</button>
                </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Modal new inscription -->
    <div class="modal fade" id="modalSubscribe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inscription d'un nouvelle utilisateur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="users">
                    <div class="modal-body">
                        <label for="usernameSub" class="form-label">Username</label>
                        <input  id="usernameSub" class="form-control" type="text" name="username">
                        <div class="form-text">{{username}}</div>

                        <label for="passwordSub" class="form-label">Password</label>
                        <input  id="passwordSub" class="form-control" type="password" name="password">
                        <div class="form-text">{{password}}</div>

                        <label for="passwordConfSub" class="form-label">Password</label>
                        <input  id="passwordConfSub" class="form-control" type="password" name="passwordConfirm">
                        <div class="form-text">{{passwordConfirm}}</div>

                        <label for="firstNameSub" class="form-label">First name</label>
                        <input  id="firstNameSub" class="form-control" type="text" name="firstName">
                        <div class="form-text">{{firstName}}</div>

                        <label for="lastNameSub" class="form-label">Last name</label>
                        <input  id="lastNameSub" class="form-control" type="text" name="lastName">
                        <div class="form-text">{{lastName}}</div>

                        <label for="mailSub" class="form-label">Mail</label>
                        <input  id="mailSub" class="form-control" type="text" name="mail">
                        <div class="form-text">{{mail}}</div>
                        
                        <select id="rolesSub" class="form-select" aria-label="Default select example" name="roles">
                            <option id="role1Sub"  selected value="ROLES_ADMIN">ROLES_ADMIN</option>
                            <option id="role2Sub" value="ROLES_USER">ROLES_USER</option>
                        </select>
                        <div class="form-text">{{roles}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" name="insert">Insert new user</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="assets/script/script.js"></script>
  
{% endblock %}
